$thunder: #181618;
$thunder2: #1F1E1F;
$baltic-sea: #282729;
$biloba-flower: #D996EB;
$french-lilac: #E8C9F0;
$french-lilac2: #EEDCF3;
$lavender-blush: #FFF8FA;
$perfume: #E6ACF5;

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 45px 0;
  &.dark {
    color: #fff;
  }
  h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .info {
    max-width: 300px;
    h5 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 10px;
      span {
        color: $biloba-flower;
      }
    }
    p {
      line-height: 20px;
      margin-bottom: 5px;
    }
  }
  .item {
    max-width: 210px;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }
}